<div class="col-xs-12 col-sm-6 col-sm-offset-1 about">
	<h1>About Splurty</h1>

	<p>Splurty, or "No Man Is an Island", was designed as a project by way of
		tutorials through The FirehoseProject, but personalized unique to the provided
		wireframes. The angle of the subject matter is to help get one through a
		typical day of interactions with challenging personalities and unusual characters.
		You know what I'm talking about... we've all met them (or maybe even <em>are</em> them).
		Just know, you're not alone. "No man is an island." (Thank you, John Donne)</p>
	<p>After an extensive career in the graphic print industry—with a semi-recent exposure
		to a selection of these "characters"—I determined that life is just too short,
		and professional happiness far too important. Continuing along a familiar yet unsatisfying path
		was not a viable option anymore. It was time to strike out and seek the career
		horizons that technologically satiate and inspire me.
	</p>
	<p>And here we are.
	</p>
	<h4 class="alice">"But I don’t want to go among mad people,” Alice remarked. <br />
		“Oh, you can’t help that,” said the Cat: “We’re all mad here. <br />
		I’m mad. You’re mad.” <br />
		“How do you know I’m mad?” said Alice. <br />
		“You must be,” said the Cat, “or you wouldn’t have come here.”</h4>
</div>
<div class="col-xs-10 col-sm-5">
	<%= image_tag 'Sir_John_Tenniel_Alice_Cheshire_Cat.JPG', :class => 'img-responsive', :alt => 'Alice & Cheshire Cat', :title => 'Alice & Cheshire Cat' %>
</div>

<div class="col-xs-12 col-sm-10 col-sm-offset-1 rewrap about">
	<p>So, I hope this application gives you a smile and a smirk as you think upon that
		"lovely" person who you may have had interaction (rather against your will) with earlier. Possibly, an
		inspirational and rather witty sentiment helped you to keep a level head
		and maintain more decorum than the afore-mentioned did. Maybe you have a
		brilliant quote that best expresses your take on what it means to survive the
		daily run-in with "other people's children." If so, please feel free to share...
		it's a big world, and we could all use a little insight to get along.
	</p>
</div>
