<h2 class="catchphrase">
	<span class="counter">SPLURTY / #<%= @quote.id %>:</span>
	&nbsp;Because life is challenging enough without the <em>supporting cast</em>.
</h2>
<br />
<br />
<h1 id="phrase"><span class="q_mark">&#147;</span><%= @quote.saying %><span class="q_mark">&#148;</span></h1>
<h2 class="pull-right">– <%= @quote.author %></h2>
<br />
<br />
