<!-- meant as FUNCTIONAL TEST page -->

<h1 id="phrase"><span class="q_mark">&#147;</span><%= @quote.saying %><span class="q_mark">&#148;</span></h1>
<h2 class="pull-right">– <%= @quote.author %></h2>
<br />
<br />
