/* "intermediate" font method - left as reference
 @import url(https://fonts.googleapis.com/css?family=Muli:400,300);
*/
/* Repairing a font-naming issue causing errors */
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,800,700);

.clear {
	clear: both;
}

.colorbar {		//wanted to do something a bit fancier than just a top border
	margin: 0 -15px -145px;
	height: 145px;
	background: #16a4c3;
	position: relative;
	z-index: -2;
}

/* logo */
#cloud {
  margin: 85px auto 0px auto;
  width: 230px;
  height: 80px;
  border-radius: 100px;
  position: relative;
  background: #d4d5d6;
	background: linear-gradient(top, #d4d5d6 10%, #898a8b 100%);
	background: -webkit-linear-gradient(top, #d4d5d6 10%, #898a8b 100%);
	background: -moz-linear-gradient(top, #d4d5d6 10%, #898a8b 100%);
	background: -ms-linear-gradient(top, #d4d5d6 10%, #898a8b 100%);
	background: -o-linear-gradient(top, #d4d5d6 10%, #898a8b 100%);
	text-align: center;
	color: #fff;
	font-size: 1.25em;
}
#cloud:before, #cloud:after{
  content: '';
  border-radius: 100px;
  position: absolute;
  background: #d4d5d6;
	z-index: -1;
}
#cloud:before{
  width: 80px;
  height: 80px;
  top: -38px;
  left: 30px;
}
#cloud:after{
  width: 110px;
  height: 110px;
  top: -58px;
  right: 30px;
}
.logo:hover {
	text-decoration: none;
}

/* slogan - Trebuchet-based sans serif stack */
.slogan {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	text-align: center;
	font-style: italic;
	padding: 15px 0;
}

/* links */
.links {
	padding: 10px 15px 10px 0;
}
.links a {
	color: #16a4c3;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 700;
	font-size: 1.25em;
}
.links a:hover {
	text-decoration: underline;
}

hr {
	clear: both;
}

h1 {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400; //didn't want to use bold
	font-size: 3.5em;
}

/* quote styling */
.msg {
	margin-top: -15px;
}

#phrase {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400; //didn't want to use bold
	font-size: 3.5em;
	text-align: center;
	position: relative;
	margin-right: 15px;
	/* easy font method - left for reference
	 font-family: 'Muli', sans-serif;
	 font-weight: 600;
	letter-spacing: -1.5px; */
}

h2 {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 300;
}

h2.catchphrase {
	margin-bottom: 25px;
	text-align: left;
	color: #898a8b;
}

.counter {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 400;
	color: #16a4c3;
}

.q_mark {
	position: absolute;
	z-index: -1;
	margin: -95px 0 0 -60px;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 800;
	font-size: 7em;
	color: #dcdddf;
}


/* footer - TEXT ONLY */
.next-quote {
	color: #ec0000;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
}

.footer-blurb {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	padding-right: 10%;
	font-style: italic;
	font-size: .75em;
}
.footer-blurb,
.more {
	padding-top: 8px;
}

/* About page & Modal*/
div.about,
.modal {
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.alice {
	padding-top: 10px;
	border-top: 1.5px solid #ec0000;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 700;
	line-height: 130%;
	color: #c4c7c9;
}
img {
	padding-bottom: 10px;
}

.rewrap {
	padding-bottom: 40px;
}

::selection {
	background-color: #fffe96; // didn't like the red - opted for yellow
}

/* Responsive layout adjustments */
@media (min-width:769px){
	.alice {
		padding-bottom: 10px;
		border-bottom: 1.5px solid #ec0000;
	}
}
@media (max-width: 768px){
	.alice {
		text-align: center;
	}
	img {
		float: right;
	}
	.rewrap {
		padding-top: 10px;
		border-top: 1.5px solid #ec0000;
	}
	.more{
		text-align: center;
	}
	.footer-blurb {
		text-align: center;
	}
}
